<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search City" name="city"
    [(ngModel)]="cityName">
  </form>

</div>
<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/cloudyskies.jpg" *ngIf="weatherData.min_temp > 15">
    <img src="../assets/nightskies.jpg" *ngIf="weatherData.min_temp <= 15">

    <div class="weather-data">
      <div class="location">Unknown City</div>
      <div class="temperature">{{weatherData.temp}}°C</div>
    </div>
  </div>


  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temperature_gif.gif">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.min_temp}}°C 
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temperature_gif.gif">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.max_temp}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temperature_gif.gif">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.humidity}}% 
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temperature_gif.gif">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind_speed}}km/h
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <div class="container">

  <div class="upper-data">
    <img src="../assets/cloudyskies.jpg" *ngIf="14 > 15">
    <img src="../assets/nightskies.jpg" *ngIf="14 <= 15">

    <div class="weather-data">
      <div class="location">Wellington</div>
      <div class="temperature">{{ 14.40 | number : '1.0-0'}}°C</div>
    </div>
  </div>


  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temperature_gif.gif">
          <span>min</span>
        </div>
        <div class="info-block-value">
          10°C 
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temperature_gif.gif">
          <span>max</span>
        </div>
        <div class="info-block-value">
          21°C 
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temperature_gif.gif">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          77% 
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/temperature_gif.gif">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          11km/h
        </div>
      </div>

    </div>
  </div>
</div>


<router-outlet></router-outlet> -->
